@charset "ISO-8859-1";

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

body {
   /* background-color: #F2F4F1;*/
}


.nav {
    display: flex;
    align-items: center;
    padding-right: 30px;
}
#heading{
    margin-top:60px;
    margin-left:40px;
    font-size: 30px;
    color:#3d6921;
    font-weight: 600;
    letter-spacing: 1px;

}
.nav a:nth-child(4) img {
    margin-right: 13px;
}
.nav a:hover{
  border: solid #4c812a;
  border-width: 0px 0px 3px 0px;
  transition: 0.05s ease;
  color: #0d5114;
  
  }
#log {
    width: 25px;
    height: 25px;
}

.logo img {
    width: 110px;
    height: 65px;
    margin-left: 25px;
}

.nav a {
    margin: 10px;
    text-decoration: none;
    margin-right: 50px;
    font-size: 18px;
    color: #30650f;
}

#cart_img:hover {
  border: none;
  outline: none;
}
#profile_logo{
   width:40px;
   height:40px;
  
  }
  #profile_logo:hover{
   border: none;
  outline: none;

  }
  #login_title {
    /* margin-left: 14px; */
    /* font-family: "Carter One", cursive; */
    padding: 8px 15px;
    background-color: #3d6921;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border-radius: 3px;
    margin-right: 10px;
  }
  #login_title:hover {
    background-color: white;
    color: #3d6921;
    cursor: pointer;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      
  }
  
  #log {
    border: none;
    outline: none;
    
  }
  
  .plantPriceDetails{
  font-family:Poppins;
  }
  
.cartContents {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  width: 80%;
  height:100%;
  margin: 68px auto;
}
.cartContent {
  /* border: 1px solid black; */
  width: 90%;
  margin: 10px auto;
  display: flex;
  align-items: center;
}
.plantDetails {
  display: flex;
  align-items: center;
  width: 40%;
  padding: 15px;
  /* border: 1px solid black; */
}

.plantDetails img {
  width: 70px;
  margin: 0px 30px;
}
.plantQuantityDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.plantQuantityDiv img {
  width: 12px;
  margin: 0px 10px;
}
.plantPriceDetails {
  width: 60%;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#cart_img{
	width:47px;
}
.plantPriceDetails div {
  padding: 10px 0px;
  text-align: center;
  width: 32%;
}
.plantRemove img {
  width: 15px;
}
.heading {
  text-align: center;
  justify-content: center;
}
.leftAlign {
  box-sizing: border-box;
  padding-left: 80px;
}

#proceed_button button {
  height: 32px;
  width: 160px;

  border-radius: 2px;
  color: white;
  background-color:rgb(47, 111, 45);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid rgb(47, 111, 45);
  font-weight: 600;
}

#proceed_button button:hover {
  background-color: white;
  color: rgb(47, 111, 45);
  /* border-color: 2px solid rgb(37, 111, 72); */
  cursor: pointer;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.container {
    margin: 20px auto;
    padding: 32px;
    margin-top:50px;
    width:70%;
    margin-top:50px;
   
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.container p{
	 font-family:Poppins;
    font-size:24px;
    margin-left:20px;
}
.emptyCart{
	width:100%;
	height:500px;
	background-color:#f8f8f8;
	display:flex;
	align-items:center;
	justify-content:center;
}
.emptyCart img{
	width:400px;
	
}