@charset "ISO-8859-1";
* {
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
  scroll-behavior: smooth;
  font-family: poppins;
 
}
body {
  /* width: 1520px; */
  background-color: white;
}

.nav a:hover {
  border-bottom: 3px solid #4c812a;
  transition: border-bottom 0.2s ease, color 0.2s ease;
  color: #0d5114;
}


/* 
  #shopping {
    color: blue;
    margin-top: 100px;
  } */

.home {
  color: black;
  padding: 16px;
  font-size: 16px;
  margin-left: 20px;
  border: none;
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
}

.nav a:nth-child(5) img {
  margin-left: 12px;
}

#user_name {
  font-weight: 600;
  margin: 0px 10px;
}
#login_title {
  margin-left: 14px;
  font-family: "Carter One", cursive;
}
#log {
  width: 25px;
  height: 25px;
  /* margin-left: 23px; */
}

.logo img {
  width: 110px;
  height: 65px;
  margin-left: 25px;
}

#profile_logo {
  width: 40px;
  height: 40px;
}

.nav a {
  margin: 10px;
  text-decoration: none;
  margin-right: 50px;
  font-size: 18px;
  color: #30650f;
}

#cart {
  width: 80px;
  height: 60px;
}
/* header ends */

.all_orders{
	padding:50px 50px 30px 50px;
	font-size:22px;
	color:#5a5a5a;
}
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");
.orderContents {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  width: 75%;
  margin: 5px auto;
  /* border:  1px solid black; */
}
.orderContent {
  /* border: 1px solid black; */
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.orderHeading {
  height: 100px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  width: 70%;
  padding: 5px;
  border-radius: 3px;
  margin: 10px;
}
.orderHeading img {
  width: 50px;
}
.orderStatus span {
  font-size: 14px;
}
.orderedOn{
	width:35%;
}
.orderedOn p{
	margin-top:10px;
}
.orderedOn h4{
	color: #3fa32f;
}
.plantDetails {
  display: flex;
  align-items: center;
  width: 40%;
  padding: 15px;
  /* border: 1px solid black; */
}
.container {
    margin: 20px auto;
    padding: 32px;
    margin-top:50px;
    width:70%;
    margin-top:50px;
   
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.container p{
	 font-family:Poppins;
    font-size:24px;
    font-weight:500;
    margin-left:20px;
}
.plantDetails img {
  width: 70px;
  margin: 0px 30px;
}
.plantQuantityDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.plantQuantityDiv img {
  width: 12px;
  margin: 0px 10px;
}
.plantPriceDetails {
  width: 60%;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plantPriceDetails div {
  padding: 10px 0px;
  text-align: center;
  width: 32%;
}
.plantRemove img {
  width: 15px;
}
.heading {
  text-align: center;
  justify-content: center;
}
.leftAlign {
  box-sizing: border-box;
  padding-left: 80px;
}
.outcontent {
  width: 500px;
  margin: 20px auto;
  height: 138px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
.status {
  background-color: #3b71ca;
  padding: 4px 6px;
  color: white;
  font-weight: 600;
  font-size: 14px;
  border-radius: 3px;
  position: absolute;
  transform: rotate(-30deg);
  top: 0px;
  z-index: 5;
  left: 0px;
}
.content {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 5px;
  display: flex;
  height: 95%;
  width: 95%;
}
.leftContent {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leftContent img {
  width: 45%;
  margin: 20px auto;
}
.rightContent {
  box-sizing: border-box;
  width: 70%;
  padding: 11px;
}
.rightContent_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
}
.rightContent_header h2{
 font-size:18px;

}
.rightContent_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rightContent_footer div p {
  font-size: 12px;
  color: grey;
  margin: 15px 0px;
}
.rightContent_footer div p span {
  font-weight: 600;
  color: black;
}
.viewOrderDetails {
  background-color: white;
  padding: 5px 10px;
  color: white;
  font-weight: 600;
  font-size: 12px;
  border-radius: 3px;
  cursor: pointer;
}
#valnum{
	color:black;
}
.rightoutcontent {
  width: 35%;
  height: 100%;
  box-sizing: border-box;
}
.orderContentDetails {
  display: none;
  background-color:white;
}

.view {
  display: block;
}
#Quantity{
	color:grey;
}

#date {
  color: black;
}
.emptyCart{
	width:100%;
	height:589px;
	background-color:#f8f8f8;
	display:flex;
	align-items:center;
	justify-content:center;
}
.emptyCart img{
	width:530px;
	
}
#close{
	width:20px;
}

